attrs==21.2.0
awesome-slugify==1.6.5
bitarray==1.6.1
bitstring==3.1.7
bleach==3.3.0
blessed==1.17.6
boto==2.49.0
boto3==1.16.56
botocore==1.19.56
build==0.6.0.post1
cachetools==4.2.0
certifi==2021.10.8
chardet==4.0.0
click==8.0.1
click-default-group==1.2.2
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
coverage==5.5
cycler==0.11.0
dataflows==0.2.2
datapackage==1.15.1
db-to-sqlite==1.3
docutils==0.17.1
fonttools==4.28.3
future==0.18.2
geojson==2.5.0
haversine==2.3.1
hypothesis==6.14.0
idna==2.10
ijson==3.1.3
image-processing==0.0.1
imageio==2.13.3
iniconfig==1.1.1
inquirer==2.7.0
isodate==0.6.0
jsonlines==2.0.0
jsonpointer==2.0
kiwisolver==1.3.2
kvfile==0.0.11
libgeohash==0.1.1
linear-tsv==1.1.0
linode-cli==5.11.1
mapbox-vector-tile==1.2.1
mapillary==1.0.1
matplotlib==3.5.1
mercantile==1.2.1
munch==2.5.0
networkx==2.6.3
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1636145338621/work
packaging==21.0
pandas==1.3.4
pep517==0.11.0
Pillow==8.4.0
pkginfo==1.7.0
pluggy==0.13.1
protobuf==3.17.3
psutil==5.8.0
py==1.10.0
pybloom-live==3.0.0
pyclipper==1.2.1
Pygments==2.9.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==0.19.0
python-editor==1.0.4
pytz==2021.3
PyWavelets==1.2.0
readchar==2.0.1
readme-renderer==29.0
regex==2020.11.13
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
scikit-image==0.19.0
scipy==1.7.1
Shapely==1.7.1
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==1.3.22
sqlite-fts4==1.0.1
sqlite-utils==3.6
tableschema==1.20.0
tableschema-sql==1.3.1
tabulate==0.8.7
tabulator==1.53.1
terminaltables==3.1.0
tifffile==2021.11.2
tomli==1.2.1
tqdm==4.61.1
turfpy==0.0.7
twine==1.13.0
unicodecsv==0.14.1
Unidecode==0.4.21
urllib3==1.26.5
vt2geojson==0.2.1
webencodings==0.5.1
wget==3.2
xgboost==1.3.1
xmljson==0.2.1
