absl-py
aiohttp
aiosignal
anyio
argon2-cffi
astor
astunparse
async-generator
async-timeout
attrs
Babel
backcall
bleach
blinker
brotlipy
cachetools
certifi
cffi
charset-normalizer
click
cryptography
cycler
debugpy
decorator
defusedxml
entrypoints
flatbuffers
fonttools
frozenlist
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
Keras-Preprocessing
kiwisolver
libgeohash
mapillary
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service
multidict
munkres
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
olefile
opencv-python
opt-einsum
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
Pygments
PyJWT
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
python-dotenv
pytz
pyzmq
requests
requests-oauthlib
rsa
scipy
Send2Trash
sip
six
sniffio
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
tornado
traitlets
trueskill
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
wget
wrapt
yarl
zipp
